body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 14px;
    font-weight: 18px;
    color: #0a0a0a;
}

.header, .footer__Container {
    background-color: #0a0a0a;
    padding: 33px 0 32px;
    color: #717171;
    font-size: 24px;
    font-weight: 29px;
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.container, .container__last-Header {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 15px;
}

.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
}

.menu__Buttons {
    display: flex;
    flex-basis: 0;
    flex-grow: 1;
}

.phone {
    flex-basis: 0;
    flex-grow: 1;
    text-align: right;
}

.news, .choose__Color, .orders {
    padding-right: 30px;
}


.headline {
    background-color: #f5f5f7;
    text-align: center;
    padding: 70px 0 40px;
}

.title {
    text-transform: uppercase;
    margin: 0 0 40px;
    color: #490E84;
    font-weight: 700;
    font-size: 64px;
    line-height: 77px;
    transition: all 0.3 ease;
}

.headline__Img {
    margin-bottom: 25px;
}

.headline__Button {
    display: inline-block;
    font-weight: 700;
    font-size: 24px;
    line-height: 29px;
    text-transform: uppercase;
    color: #FFF;
    background-color: #490E84;
    padding: 22px 117px 19px;
    border-radius: 30px;
    transition: all 0.3 ease;
}

.whats__New {
    padding: 0px 0 100px;
    margin: 100px;
}

.title__News, .color__Title {
    padding: 0 0 50px;
    text-transform: uppercase;
    text-align: center;
    color: #717171;
    font-size: 32px;
    line-height: 39px;  
    font-weight: 700;
}

.news__Info {
    display: flex;
    align-items: center;
}

.news__Text p {
    max-width: 560px;
    margin: 0 0 30px;
    margin-left: 250px;
    color: #0A0A0A;
}

.news__Text b {
    display: block;
    color: #0A0A0A;
    max-width: 560px;
    font-size: 20px;
    font-weight: 700;
    line-height: 26px;
    margin-left: 250px;
}

.image__News {
    margin-left: 250px;
}

.choose__ColorPhone {
    padding-bottom: 170px;
}

.color__List {
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 0 290px;
}


.menu-link:hover, .phone:hover {
    color: #f5f5f7;
    -webkit-transition: all 0.3s ease;;
    -moz-transition: all 0.3s ease;;
    -o-transition: all 0.3s ease;;
    transition: all 0.3s ease;
}

.contacts__Inner {
    display: flex;
    justify-content: space-between;
    padding: 0 290px 0px;
}

.contacts__Form {
    width: 100%;
    padding: 140px 100px;
    background: rgb(170,32,204);
    background: linear-gradient(13deg, 
                rgba(170,32,204,1) 0%,
                rgba(191,95,219,1) 66%, 
                rgba(164,88,213,1) 100%, 
                rgba(128,62,202,1) 100%);
    border-radius: 53px 0 0 0;
}

.contact__Title, .contact__Input {
    text-align: center;
    align-items: center;
    padding-left: 50px;
}


.endFrame__Iphone {
    display: block;
    border-radius: 0 53px 0 0;
}

.last__Logo {
    display: block;
    justify-content: center;
    padding: 0 0 0 879px;
}


